/*=============================================>>>>>
= Loading Styles =
===============================================>>>>>*/
.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: $primary;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}
