/*=============================================>>>>>
= Forms =
===============================================>>>>>*/

button, input, optgroup, select, keygen::-webkit-keygen-select, select[_moz-type="-mozilla-keygen"], textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  margin-top: 0.5em;
}

label {
  display: block;
  margin: 0.75em 0;
  font-weight: bold;
}

input {
  &[type="radio"] + label, &[type="checkbox"] + label {
    margin: 0;
    font-weight: 400;
  }
}

button {
  appearance: button;
  cursor: pointer;
}

input {
  &[type=button], &[type=reset], &[type=submit] {
    appearance: button;
    cursor: pointer;
  }
}

button[disabled] {
  cursor: default;
}

input {
  &[disabled] {
    cursor: default;
  }
  line-height: normal;
}

textarea {
  line-height: 1.25em;
}

select {
  border: 1px solid #ccc;
  background-color: #fff;
}

input {
  &[type=checkbox], &[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: block;
    margin-right: 0.25em;
    margin-top: 2px;
    float: left;
    clear: both;
  }
  &[type=search] {
    appearance: textfield;
    box-sizing: content-box;
    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
      appearance: none;
    }
  }
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=date], &[type=month], &[type=time], &[type=datetime], &[type=datetime-local], &[type=week], &[type=number], &[type=search], &[type=tel], &[type=color] {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0.5em 0.6em;
    margin-bottom: 0.5em;
  }
}

select[_moz-type="-mozilla-keygen"], keygen::-webkit-keygen-select, select, textarea {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.5em 0.6em;
  margin-bottom: 0.5em;
}

input {
  &[type=color] {
    padding: 0;
  }
  &:not([type]) {
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0.5em 0.6em;
  }
  &[type=color] {
    padding: 0.2em 0.5em;
  }
  &[type=file]:focus, &[type=radio]:focus, &[type=checkbox]:focus {
    outline: 1px auto #129FEA;
  }
  &[readonly] {
    background-color: #eee;
    color: #777;
    border-color: #ccc;
  }
}

select[readonly], textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

input {
  &[type=file]:focus:invalid:focus, &[type=radio]:focus:invalid:focus, &[type=checkbox]:focus:invalid:focus {
    outline-color: #e9322d;
  }
}
